html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
} 

.bar:hover {
  fill: #1DB954;
}
.tooltip {
  background-color: white;
  border: 1px solid black;
  padding: 16px;
}
.title {
  text-align: center;
  color:white;
}
.chartsvg {
  display: block;
  margin: auto;
}
.tooltipimage {
  height: 100px;
  width: 100px;
  display: block;
}

.top5chart {
  background: #ededed;
  font-weight: bold;
  color:black;
  margin-left: 200px;
  margin-right: 200px;
  border: 0;
  border-radius: 5px;
}


.bgimage {
  position: relative;
  height: 350px;
  padding: 20px;
  margin: 20px;
  background: white;
  background-image: url("../img/spotify-theme-music-bkg-dark.jpg");
  /* background-attachment: fixed; */
  background-position: bottom center;
  background-size: cover;
  color:white;
}

.btn-style {
  width: 250px;
  /* padding: 5px; */
  background: #1DB954;
  font-weight: bold;
  color:white;
}

.graph-margin{
  margin-left: 0px;
  margin-right: 0px;
}

.search-margin{
  margin-top: 50px;
  margin-left: 50px;
}

.text-header{
  color: white;
  font-size: 20;
  margin-left: 100px;
}

.text-body{
  color: white;
  font-size: 25;
  margin-left: 100px;
}

.text-def{
  color: white;
  margin-top: 25px;
}

.text-margin{
  margin-left: 200px;
  margin-right: 200px;

}

.text-link{
  color: white;
  font-size: 40;
}

.background{
  background: #1d1e22;
}

.legend {
  font-family: Helvetica;
  fill: black;
  font-size: 40;
}
/* 
.tooltip {
  fill: #333333;
} */

.radarChart {
    fill: #333333;
    background: #ededed;
}

/* .bar {
  fill: #333333;
  background: #ededed;
} */

.chart-bar {
  width: 700px;
  height:400px;
}